 .u-section-1 {
  background-image: none;
  min-height: 824px;
}

.u-section-1 .u-image-1 {
  height: 739px;
  filter: brightness(0.6);
  margin-top: 77px;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 583px;
  height: 583px;
  margin: -809px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  text-align: center;
  font-weight: 700;
  margin: -137px auto 0 calc(((100% - 1140px) / 2) + 235px);
}

.u-section-1 .u-text-2 {
  font-size: 3.75rem;
  text-align: center;
  font-weight: 700;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    --radius: 25px;
  }

  .u-section-1 .u-text-1 {
    margin-left: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 781px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 94px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 540px;
    margin-top: -869px;
    margin-left: calc(((100% - 540px) / 2) + -12px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -41px;
    margin-left: 52px;
    margin-right: 52px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 581px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 90px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -849px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -81px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
  min-height: 1014px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 61px auto 0 calc(((100% - 1140px) / 2) + 379px);
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 872px);
  height: 156px;
  margin: -223px auto 0 0;
}

.u-section-2 .u-shape-2 {
  width: calc(((100% - 1140px) / 2) + 520px);
  height: 156px;
  margin: -160px 0 0 auto;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 91px auto 0 calc(((100% - 1140px) / 2) + 289px);
}

.u-section-2 .u-list-1 {
  height: auto;
  width: 1140px;
  margin: 40px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 24.6667px) calc(33.3333% - 24.6667px) calc(33.3333% - 24.6667px);
  min-height: 573px;
  grid-gap: 37px 37px;
  grid-auto-columns: 355.328px 355.328px 355.328px;
}

.u-section-2 .u-image-1 {
  --radius: 25px;
  background-image: url("images/image1.png");
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  text-shadow: 2px 2px 31px rgba(41,45,51,1);
  text-transform: none;
  margin: 260px auto 0;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  text-shadow: 2px 2px 15px rgba(41,45,51,1);
  font-style: normal;
  margin: 12px 1px 0 0;
}

.u-section-2 .u-image-2 {
  --radius: 25px;
  background-image: url("images/image2.png");
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 31px rgba(41,45,51,1);
  text-transform: none;
  margin: 260px auto 0;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  text-shadow: 2px 2px 15px rgba(41,45,51,1);
  font-style: normal;
  margin: 12px 1px 0 0;
}

.u-section-2 .u-image-3 {
  --radius: 25px;
  background-image: url("images/image3.png");
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 31px rgba(41,45,51,1);
  text-transform: none;
  margin: 260px auto 0;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  text-shadow: 2px 2px 15px rgba(41,45,51,1);
  font-style: normal;
  margin: 12px 1px 0 0;
}

.u-section-2 .u-image-4 {
  --radius: 25px;
  background-image: url("images/image4.png");
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 31px rgba(41,45,51,1);
  text-transform: none;
  margin: 260px auto 0;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  text-shadow: 2px 2px 15px rgba(41,45,51,1);
  font-style: normal;
  margin: 12px 1px 0 0;
}

.u-section-2 .u-image-5 {
  --radius: 25px;
  background-image: url("images/04.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 31px rgba(41,45,51,1);
  text-transform: none;
  margin: 260px auto 0;
}

.u-section-2 .u-text-12 {
  font-weight: 700;
  text-shadow: 2px 2px 15px rgba(41,45,51,1);
  font-style: normal;
  margin: 12px 1px 0 0;
}

.u-section-2 .u-image-6 {
  --radius: 25px;
  background-image: url("images/04.png");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  font-size: 1.5rem;
  font-weight: 700;
  text-shadow: 2px 2px 31px rgba(41,45,51,1);
  text-transform: none;
  margin: 260px auto 0;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  text-shadow: 2px 2px 15px rgba(41,45,51,1);
  font-style: normal;
  margin: 12px 1px 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 52px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 313px);
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 872px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 940px) / 2) + 520px);
  }

  .u-section-2 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 289px);
  }

  .u-section-2 .u-list-1 {
    width: 615px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 18.5px) calc(50% - 18.5px);
    grid-auto-columns: calc(50% - 18.5px);
  }

  .u-section-2 .u-image-1 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-image-3 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 720px) / 2) + 520px);
  }

  .u-section-2 .u-text-2 {
    margin-left: auto;
  }

  .u-section-2 .u-list-1 {
    width: 668px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 18.500025px));
    grid-auto-columns: calc(50% - 18.500025px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: 160px;
    margin-top: -176px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 540px) / 2) + 520px);
    margin-top: -177px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 61px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: -220px;
  }

  .u-section-2 .u-shape-2 {
    width: calc(((100% - 340px) / 2) + 340px);
    margin-top: -156px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 84px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
} .u-section-3 {
  background-image: none;
  min-height: 2445px;
}

.u-section-3 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 200px);
  height: 219px;
  margin: -107px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 250px;
  height: 219px;
  margin: -219px auto 0 calc(((100% - 1140px) / 2) + 200px);
}

.u-section-3 .u-shape-3 {
  width: 250px;
  height: 219px;
  margin: -219px calc(((100% - 1140px) / 2) + 200px) 0 auto;
}

.u-section-3 .u-shape-4 {
  width: calc(((100% - 1140px) / 2) + 200px);
  height: 219px;
  margin: -219px 0 0 auto;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 0 auto;
}

.u-section-3 .u-list-1 {
  width: 1140px;
  margin: 50px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  min-height: 1826px;
  grid-gap: 10px 10px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  --radius: 22px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 283px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 21px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-3 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  --radius: 22px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 283px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 21px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-5 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --radius: 22px;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 283px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 21px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-7 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  --radius: 22px;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 283px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 21px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-9 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
  --radius: 22px;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 283px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 21px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-11 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
  --radius: 22px;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: 283px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 21px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-13 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-7 {
  background-image: none;
  --radius: 22px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  height: 283px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 21px;
}

.u-section-3 .u-text-14 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-15 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-list-item-8 {
  background-image: none;
  --radius: 22px;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  height: 283px;
  margin-top: 0;
  margin-bottom: 0;
  --radius: 21px;
}

.u-section-3 .u-text-16 {
  font-weight: 700;
  margin: 30px auto 0 0;
}

.u-section-3 .u-text-17 {
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 0;
}

.u-section-3 .u-text-18 {
  font-size: 3.75rem;
  text-align: center;
  font-weight: 700;
  margin: 20px auto 60px calc(((100% - 1140px) / 2) + 235px);
}

@media (max-width: 1199px) {
  .u-section-3 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 200px);
    margin-top: -109px;
  }

  .u-section-3 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2) + 200px);
  }

  .u-section-3 .u-shape-3 {
    margin-right: calc(((100% - 940px) / 2) + 200px);
  }

  .u-section-3 .u-shape-4 {
    width: calc(((100% - 940px) / 2) + 200px);
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -54px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    margin-top: 48px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    min-height: 1508px;
  }

  .u-section-3 .u-image-1 {
    height: 228px;
  }

  .u-section-3 .u-image-2 {
    height: 228px;
  }

  .u-section-3 .u-image-3 {
    height: 228px;
  }

  .u-section-3 .u-image-4 {
    height: 228px;
  }

  .u-section-3 .u-image-5 {
    height: 228px;
  }

  .u-section-3 .u-image-6 {
    height: 228px;
  }

  .u-section-3 .u-image-7 {
    height: 228px;
  }

  .u-section-3 .u-image-8 {
    height: 228px;
  }

  .u-section-3 .u-text-18 {
    width: auto;
    margin-top: 56px;
    margin-left: auto;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 4769px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 200px);
    margin-top: 109px;
  }

  .u-section-3 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2) + 200px);
  }

  .u-section-3 .u-shape-3 {
    margin-right: calc(((100% - 720px) / 2) + 200px);
  }

  .u-section-3 .u-shape-4 {
    width: calc(((100% - 720px) / 2) + 200px);
  }

  .u-section-3 .u-text-1 {
    margin-top: -206px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-bottom: 60px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 367px;
  }

  .u-section-3 .u-image-2 {
    height: 367px;
  }

  .u-section-3 .u-image-3 {
    height: 367px;
  }

  .u-section-3 .u-image-4 {
    height: 367px;
  }

  .u-section-3 .u-image-5 {
    height: 367px;
  }

  .u-section-3 .u-image-6 {
    height: 367px;
  }

  .u-section-3 .u-image-7 {
    height: 367px;
  }

  .u-section-3 .u-image-8 {
    height: 367px;
  }

  .u-section-3 .u-text-18 {
    margin-right: 1040px;
    margin-left: -219px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 4086px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 200px);
    margin-top: -109px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -110px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-shape-3 {
    margin-top: -328px;
    margin-right: auto;
  }

  .u-section-3 .u-shape-4 {
    width: calc(((100% - 540px) / 2) + 200px);
    margin-right: auto;
    margin-left: 390px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 13px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 289px;
  }

  .u-section-3 .u-image-2 {
    height: 289px;
  }

  .u-section-3 .u-image-3 {
    height: 289px;
  }

  .u-section-3 .u-image-4 {
    height: 289px;
  }

  .u-section-3 .u-image-5 {
    height: 289px;
  }

  .u-section-3 .u-image-6 {
    height: 289px;
  }

  .u-section-3 .u-image-7 {
    height: 289px;
  }

  .u-section-3 .u-image-8 {
    height: 289px;
  }

  .u-section-3 .u-text-18 {
    font-size: 2.25rem;
    margin-top: -81px;
    margin-right: 780px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 3290px;
  }

  .u-section-3 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 200px);
    margin-top: -22px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -307px;
    margin-left: calc(((100% - 340px) / 2) + -69px);
  }

  .u-section-3 .u-shape-3 {
    width: calc(((100% - 340px) / 2) + 200px);
    margin-top: -219px;
    margin-right: 0;
  }

  .u-section-3 .u-shape-4 {
    width: calc(((100% - 340px) / 2) + 200px);
    margin-top: -137px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    margin-top: -10px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-1 {
    height: 178px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-2 {
    height: 178px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-3 {
    height: 178px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-4 {
    height: 178px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-5 {
    height: 178px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-6 {
    height: 178px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-7 {
    height: 178px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-image-8 {
    height: 178px;
  }

  .u-section-3 .u-text-18 {
    font-size: 1.875rem;
    margin-top: -300px;
    margin-right: 491px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 50vw;
}

.u-section-4 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 200px);
  height: 250px;
  margin: -130px auto 0 0;
}

.u-section-4 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: -250px auto 0 calc(((100% - 1140px) / 2) + 198px);
}

.u-section-4 .u-shape-3 {
  width: 250px;
  height: 250px;
  margin: -250px calc(((100% - 1140px) / 2) + 198px) 0 auto;
}

.u-section-4 .u-shape-4 {
  width: calc(((100% - 1140px) / 2) + 200px);
  height: 250px;
  margin: -250px 0 0 auto;
}

.u-section-4 .u-shape-5 {
  width: 250px;
  height: 250px;
  margin: -245px auto 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 5px auto 0;
}

.u-section-4 .u-blog-1 {
  width: 1140px;
  margin: 24px auto 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 442px;
  grid-auto-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-4 .u-repeater-item-1 {
  background-image: none;
  --radius: 33px;
}

.u-section-4 .u-container-layout-1 {
  padding: 1px 30px 30px;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  margin: 74px 7px 0 547px;
}

.u-section-4 .u-image-1 {
  height: 298px;
  width: 540px;
  --radius: 25px;
  margin: -56px auto 0 0;
}

.u-section-4 .u-text-3 {
  margin: -215px 7px 0 547px;
}

.u-section-4 .u-metadata-1 {
  margin: 16px 408px 0 547px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  --radius: 23px;
  background-image: none;
  margin: -50px 245px 0 auto;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 901px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 200px);
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2) + 198px);
  }

  .u-section-4 .u-shape-3 {
    margin-right: calc(((100% - 940px) / 2) + 198px);
  }

  .u-section-4 .u-shape-4 {
    width: calc(((100% - 940px) / 2) + 200px);
  }

  .u-section-4 .u-blog-1 {
    width: 940px;
    margin-bottom: 22px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 620px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 3px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 75px;
    margin-right: 354px;
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    height: 243px;
    width: 440px;
    margin-top: 19px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-right: 354px;
    margin-left: 0;
  }

  .u-section-4 .u-metadata-1 {
    width: auto;
    margin-top: 20px;
    margin-right: 749px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 566px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 995px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 200px);
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2) + 198px);
  }

  .u-section-4 .u-shape-3 {
    margin-right: calc(((100% - 720px) / 2) + 198px);
  }

  .u-section-4 .u-shape-4 {
    width: calc(((100% - 720px) / 2) + 200px);
  }

  .u-section-4 .u-blog-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 609px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 4px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 48px;
    margin-right: 151px;
    margin-left: 14px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 46px;
    margin-right: 555px;
    margin-left: 15px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 21px;
    margin-right: 151px;
    margin-left: 14px;
  }

  .u-section-4 .u-metadata-1 {
    margin-right: 546px;
    margin-left: 14px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 359px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 917px;
  }

  .u-section-4 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 200px);
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 540px) / 2) + 198px);
  }

  .u-section-4 .u-shape-3 {
    margin-right: calc(((100% - 540px) / 2) + 198px);
  }

  .u-section-4 .u-shape-4 {
    width: calc(((100% - 540px) / 2) + 200px);
  }

  .u-section-4 .u-shape-5 {
    margin-top: -102px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-4 .u-blog-1 {
    width: 540px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 484px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 29px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 182px;
    margin-top: 20px;
    width: 330px;
    margin-right: 190px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-metadata-1 {
    margin-left: 0;
    margin-right: 389px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 188px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 200px);
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 340px) / 2) + 90px);
  }

  .u-section-4 .u-shape-3 {
    margin-right: calc(((100% - 340px) / 2) + 90px);
  }

  .u-section-4 .u-shape-4 {
    width: calc(((100% - 340px) / 2) + 200px);
  }

  .u-section-4 .u-shape-5 {
    margin-top: -245px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-blog-1 {
    width: 340px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 533px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 34px;
  }

  .u-section-4 .u-image-1 {
    height: 176px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-metadata-1 {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -35px;
    margin-right: 6px;
  }
} .u-section-5 {
  min-height: 800px;
}

.u-section-5 .u-text-1 {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 700;
  width: 823px;
  margin: 207px auto 0;
}

.u-section-5 .u-text-2 {
  width: 680px;
  margin: 20px calc(((100% - 1140px) / 2) + 230px) 0;
}

.u-section-5 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  background-image: none;
  --radius: 50px;
  margin: 30px auto 60px calc(((100% - 1140px) / 2) + 436px);
  padding: 12px 78px 13px;
}

.u-section-5 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    width: 680px;
  }

  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 940px) / 2) + 130px);
    margin-right: calc(((100% - 940px) / 2) + 130px);
  }

  .u-section-5 .u-btn-1 {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 20px);
    margin-right: calc(((100% - 720px) / 2) + 20px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-group-1 {
  width: 800px;
  min-height: 151px;
  margin: 60px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 168px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-7 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-7 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 280px;
  min-width: 120px;
  margin: 0 auto;
}

.u-section-7 .u-icon-1 {
  height: 48px;
}

.u-section-7 .u-icon-2 {
  height: 48px;
}

.u-section-7 .u-icon-3 {
  height: 48px;
  color: rgb(197, 54, 164) !important;
}

.u-section-7 .u-icon-4 {
  height: 48px;
  color: rgb(0, 122, 185) !important;
}

.u-section-7 .u-icon-5 {
  height: 48px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 64px;
  }
}